log/*
tmp/*
bin/*
vendor/gems/*
!vendor/gems/cache/
.sass-cache/*
*.log
nbproject/*
*.swp
*.swo
db/sphinx/**/*
*.rvmrc
*.ruby-version
*.ruby-gemset
vendor/gems/**/*
dump.rdb
*.pid
tags
public/upload/*
source
